<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Home Imako CRM</title>
</head>
<body>
    <p>Welcome <span sec:authentication="principal.username">User</span></p>
    <p><a th:href="@{/logout}">Deconnexion</a></p>

    <div sec:authorize="hasRole('commercial')">
        <h3>Apparaitra si l'utilisateur est un commercial</h3>
        <p><a th:href="@{/admin/home}">Espace Administrateur</a></p>
    </div>
</body>
</html>