<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Home Imako CRM</title>
</head>
<body>
<p>Welcome <span sec:authentication="principal.username">User</span></p>
<p><a th:href="@{/logout}">Deconnexion</a></p>

<div sec:authorize="hasRole('commercial')">
    <h3>Apparaitra si l'utilisateur est un commercial</h3>
    <p><a th:href="@{/admin/home}">Espace Administrateur</a></p>
</div>

<div>
    <table>
        <tr>
            <td>ID</td>
            <td>NOM</td>
            <td>PRENOM</td>
            <td>TELEPHONE</td>
            <td>CATEGORIE</td>
        </tr>
        <tr>
            <td th:text="${contact.id}">ID</td>
            <td th:text="${contact.nom}">NOM</td>
            <td th:text="${contact.email}">PRENOM</td>
            <td th:text="${contact.telephone}">TELEPHONE</td>
            <td th:text="${contact.categorie}">CATEGORIE</td>
        </tr>
    </table>
    <div>
        <a th:href="@{'/home/newrendezvous/' + ${contact.id}}">Prendez un rendez vous</a>
        <a th:href="@{'/home/newcommande/' + ${contact.id}}">Prendre une commande</a>
        <a th:href="@{'/home/contact/newpdf/' + ${contact.id}}">Exporter sous forme de PDF</a>
        <a th:href="@{'/home/commande/listcommande/' + ${contact.id}}">Voir la liste des commandes</a>
        <a th:href="@{'/home/rendezvous/listrendezvous/' + ${contact.id}}">Voir la liste des rendez-vous</a>
    </div>
</div>
</body>
</html>